{% extends "layout.html" %} {% block main %}
<div class="my-1" style="font-weight: bold;font-size: large; color: white;
text-shadow: 4px 4px 4px #000000;  overflow-x: hidden;">
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel" data-bs-wrap="true" data-bs-pause="false">
        <div class="carousel-indicators" id="slideIndicator">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        </div>
        <div class="carousel-inner" id="slideFrame">
            <div class="carousel-item  active" data-bs-interval="4000">
                <img src="{{url_for('static',filename='assets/img/breaking.gif')}}" class="d-block w-100" style="height:90vh ;" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5></h5>
                    <p></p>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
    </div>
</div>
{% endblock %}{% block subMain %} {% endblock %}