<html>

<head>
    <meta charset="utf-8">
    <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css" />
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous">
    </script>

    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="https://cdn.rawgit.com/jackmoore/colorbox/master/jquery.colorbox-min.js"></script>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static',filename='assets/img/news2.svg') }}" />
    <title>{{params['favTitle']}}</title>
    <!-- <link rel="stylesheet" href="{{ url_for('static',filename='css/style1.css') }}"> -->
    <link rel="stylesheet" href="{{ url_for('static',filename='css/signup.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body style="background: #FFF8B3 ;">
    <!-- Body of Form starts -->
    <div class="container ">
        <form method="post" autocomplete="on" action="/signup" enctype="multipart/form-data ">
            <!--First name-->
            <div class="box">
                <label for="firstName" class="fl fontLabel"> First Name: </label>
                <div class="new iconBox">
                    <i class="fa fa-user" aria-hidden="true"></i>
                </div>
                <div class="fr">
                    <input type="text" name="firstName" placeholder="First Name" class="textBox" autofocus="on" required>
                </div>
                <div class="clr"></div>
            </div>
            <!--First name-->
            <!--Second name-->
            <div class="box">
                <label for="secondName" class="fl fontLabel"> Seconed Name: </label>
                <div class="fl iconBox"><i class="fa fa-user" aria-hidden="true"></i></div>
                <div class="fr">
                    <input type="text" required name="secondName" placeholder="Last Name" class="textBox">
                </div>
                <div class="clr"></div>
            </div>
            <!--Second name-->

            <!---Email ID---->

            <div class="box">
                <label for="email" class="fl fontLabel"> Email ID: </label>
                <div class="fl iconBox"><i class="fa fa-envelope" aria-hidden="true"></i></div>
                <div class="fr">
                    <input type="email" required name="email" placeholder="Email ID" class="textBox">
                </div>
                <div class="clr"></div>
            </div>
            <!--Email ID----->

            <!---Phone No.------>
            <div class="box">
                <label for="phone" class="fl fontLabel"> Phone No.: </label>
                <div class="fl iconBox"><i class="fa fa-phone-square" aria-hidden="true"></i></div>
                <div class="fr">
                    <input type="text" required name="phoneNo" maxlength="10" placeholder="Phone No." class="textBox" pattern="[0-9]{10}">
                </div>
                <div class="clr"></div>
            </div>
            <!---Phone No.---->



            <!---Password------>
            <div class="box">
                <label for="password" class="fl fontLabel"> Password </label>
                <div class="fl iconBox"><i class="fa fa-key" aria-hidden="true"></i></div>
                <div class="fr">
                    <input type="Password" required name="password" placeholder="Password" class="textBox">
                </div>
                <div class="clr"></div>
            </div>
            <!---Password---->
            <!-- Address/Country-->
            <div class="box">
                <label for="Address/Country" class="fl fontLabel"> Address/Country: </label>
                <div class="fl iconBox"><i class="fa fa-user" aria-hidden="true"></i></div>
                <div class="fr">
                    <input type="text" required name="Address_Country" placeholder="Address/Country" class="textBox">
                </div>
                <div class="clr"></div>
            </div>
            <!-- address -->
            <!--Terms and Conditions------>
            <div class="box terms" style="font-size:medium; vertical-align: middle;">
                <input class="form-check-input" type="checkbox" id="flexCheckChecked" checked required> &nbsp; I accept the <a data-bs-toggle="modal" style="color:white ;text-decoration: underline; cursor: pointer;" data-bs-target="#privacy" aria-controls="offcanvasTop"> terms and conditions</a>
            </div>
            <!--Terms and Conditions------>
            <div class="box">
                <p style="color: red;text-align: center;text-transform: capitalize; font-size: small; ">
                    {{status}}
                </p>
            </div>
            <!-- submit button -->
            <div class="d-grid gap-2">
                <button class="btn btn-primary" type="submit">Sign Up</button>
            </div>
            <p style="text-align:right ;color: white; ">Already have account , <a style="text-align:right ;color: white; " href="/login">Log In </a>instead</p>
            <!---Submit Button----->
        </form>
    </div>
    <div class="modal fade" id="privacy" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content" id="privacyContent" style="text-align: center;"></div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js " integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p " crossorigin="anonymous "></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js " integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB " crossorigin="anonymous "></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js " integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13 " crossorigin="anonymous "></script>
    <script src="{{url_for( 'static',filename='js/signup.js' )}} "></script>
    <!--Body of Form ends--->
</body>

</html>